# Assignment 1

In [1]:
# Brenda Woodard
# Data Visualization

# Assignment 1 Part 1

import csv
import pandas as pd

periodic_data = pd.read_csv("periodic_table.csv")
df_1=pd.DataFrame(periodic_data)
print(df_1)

        Name Symbol  Atomic Number
0   Hydrogen      H              1
1     Helium     He              2
2    Lithium     Li              3
3  Beryllium     Be              4
4      Boron      B              5
5     Carbon      C              6
6   Nitrogen      N              7
7     Oxygen      O              8

In [101]:
df_2 = pd.DataFrame({'Name':['Fluorine', 'Neon'],'Symbol':['F', 'N'],'Atomic Number':['9', '10']})
df_3 = df_1.append(df_2, ignore_index = True)
df_3

        Name Symbol Atomic Number
0   Hydrogen      H             1
1     Helium     He             2
2    Lithium     Li             3
3  Beryllium     Be             4
4      Boron      B             5
5     Carbon      C             6
6   Nitrogen      N             7
7     Oxygen      O             8
8   Fluorine      F             9
9       Neon      N            10

In [102]:
df_3['Rounded A.Wgt.'] = ['1','4','7','9','11','12','14','16','19','21']
df_3

        Name Symbol Atomic Number Rounded A.Wgt.
0   Hydrogen      H             1              1
1     Helium     He             2              4
2    Lithium     Li             3              7
3  Beryllium     Be             4              9
4      Boron      B             5             11
5     Carbon      C             6             12
6   Nitrogen      N             7             14
7     Oxygen      O             8             16
8   Fluorine      F             9             19
9       Neon      N            10             21

In [134]:
# Assignment 1 Part 2

greek_ltrs = ['sigma','delta','alpha','gamma','epsilon','mu','lambda','pi','iota']

mu, sigma = 10, 1.5
array_1 = np.random.normal(mu, sigma, 9)
array_2 = np.random.normal(mu, sigma, 9)
angle = np.random.normal(0, 2*np.pi, 9)
cos_angle = np.cos(angle)

array([ 0.53657228, -0.98174728,  0.81338359, -0.77571466, -0.99690823,
        0.2104057 ,  0.92110819,  0.60979653,  0.16313249])

In [164]:
dict_1 = {'greek letters': greek_ltrs,'array_1': array_1,'array_2' : array_2,'angle': angle, 'cos_angle' : cos_angle}

df_dict = pd.DataFrame(dict_1, columns = ['greek letters', 'array_1','array_2','angle','cos_angle'])
print(df_dict)

  greek letters    array_1    array_2      angle  cos_angle
0         sigma   9.767461  10.294191   7.287612   0.536572
1         delta   8.506019   9.976158  -3.332948  -0.981747
2         alpha  11.967436  11.368652  11.945519   0.813384
3         gamma   9.862043   9.697103   3.824542  -0.775715
4       epsilon  10.062224  12.577300  -3.220248  -0.996908
5            mu  10.580260   9.259397  -7.641992   0.210406
6        lambda   8.878687   7.501303  -5.883307   0.921108
7            pi   9.425378  12.375280  -5.368193   0.609797
8          iota  12.170440  10.053009   7.690117   0.163132

In [169]:
sorted_df = df_dict.sort_values(by='greek letters', ascending=True)
sorted_df

  greek letters    array_1    array_2      angle  cos_angle
2         alpha  11.967436  11.368652  11.945519   0.813384
1         delta   8.506019   9.976158  -3.332948  -0.981747
4       epsilon  10.062224  12.577300  -3.220248  -0.996908
3         gamma   9.862043   9.697103   3.824542  -0.775715
8          iota  12.170440  10.053009   7.690117   0.163132
6        lambda   8.878687   7.501303  -5.883307   0.921108
5            mu  10.580260   9.259397  -7.641992   0.210406
7            pi   9.425378  12.375280  -5.368193   0.609797
0         sigma   9.767461  10.294191   7.287612   0.536572

In [181]:
drop_col_df = sorted_df.drop(["array_1", "cos_angle"], axis=1)
drop_row_df = drop_col_df.iloc[1:,]
print(drop_row_df)

  greek letters    array_2     angle
1         delta   9.976158 -3.332948
4       epsilon  12.577300 -3.220248
3         gamma   9.697103  3.824542
8          iota  10.053009  7.690117
6        lambda   7.501303 -5.883307
5            mu   9.259397 -7.641992
7            pi  12.375280 -5.368193
0         sigma  10.294191  7.287612

In [ ]:
####   Assigment 1 Part 3
f_seq = []
f_1 = 0
f_2 = 1
count = 0

while count < 12:
       print(f_1, end ='  ')
       next = f_1 + f_2
       f_1 = f_2
       f_2 = next
       count += 1
       f_seq.append(f_2/f_1)

In [206]:
print(f_seq[7:])
        
# In this latter list the numbers are converging into one number; approximately 1.6.

[1.619047619047619, 1.6176470588235294, 1.6181818181818182, 1.6179775280898876, 1.6180555555555556]

In [7]:
##### Assignment 1 Part 4

def convert_K(K):
    R = K*1.8
    return R

K = int(input("Enter Temp in Kelvin: "))
R = convert_K(K) 
print("Temp in Rankine :", R)

Enter Temp in Kelvin: 89
Temp in Rankine : 160.20000000000002

In [22]:
k_list = [20, 400, 720, 5300, 14]
for k in k_list:
    new_k = convert_K(k)
    print(new_k)

36.0
720.0
1296.0
9540.0
25.2

In [9]:
convert_k_lambda = lambda K: K*1.8
 
K_2 = int(input("Enter Temp in Kelvin:"))
R_2 = convert_k_lambda(K_2)

print("Temp in Rankine :", R_2)

Enter Temp in Kelvin:89
Temp in Rankine : 160.20000000000002

In [23]:
k_list = [20, 400, 720, 5300, 14]
for k in k_list:
    new_k2 = convert_k_lambda(k)
    print(new_k2)

36.0
720.0
1296.0
9540.0
25.2